# 必要なら CLI のデフォルト値として使う
CONTRIBUTION_ART_REMOTE=origin
CONTRIBUTION_ART_BRANCH=main
CONTRIBUTION_ART_TIMEZONE=+09:00
CONTRIBUTION_ART_TIME_START=19:30
CONTRIBUTION_ART_TIME_END=22:30
CONTRIBUTION_ART_MIN_COMMITS=3
CONTRIBUTION_ART_MAX_COMMITS=6
